<app-header></app-header>
<!--面包屑导航-->
<div class="breadcrumb">
  <div class="container">
    <h2>
      <a href="">首页</a>&gt;<a href="">关于恒洁</a>
    </h2>
  </div>
</div>
<!--页面主体-->
<div class="main container">
  <div class="about">
    <div class="about_img"><img src="../assets/images/gsjj.jpg" alt=""/></div>
    <p>恒洁卫浴专注做卫浴20年，是一家专业从事陶瓷卫生洁具及其相关配套产品的研发、生产、销售、服务等综合性的大型企业。20年来，坚持提供一流产品，五星服务，好评如潮。2012年全新推出3.5L“恒洁超旋风坐便器”超节水坐便器，节水技术创新突破，被国家水利部一致评为“国内领先”节水技术产品。</p>
    <p style="font-weight: 700;">恒洁服务</p>
    <p>以顾客至上为原则，提供1站式卫浴空间解决方案专家咨询服务、3阶段全程无忧服务、5年免费维护保养服务、0风险选购使用保障服务。在消费者至上的时代，恒洁常怀感恩的心，将心比心，在提供高品质产品的同时，用温暖贴心一生为您的全程无忧服务，用心为消费者提供超乎期望值满意的产品和服务，为用户创造价值！</p>
    <p style="font-weight: 700;">品牌内涵</p>
    <p>从产品的开发、生产到用户体验，恒洁都以 “将以比心”的责任心来贯穿其中。极尽所能地完善每一个产品细节，力求制造好用实用的优质产品。作为中国企业的其中一员，恒洁更有一份对“中国创造”“中国品质”的责任。恒洁的品质理想，也是中国迈向更好未来的进程中，所有企业公民的共同使命。</p>
    <p style="font-weight: 700;">专注</p>
    <p>在恒洁，从产品选材到制造出品的每一个工艺环节，每一个接触它的人，无论位置高低，分工各异，都需具备一份安于本职的专注心，去发现隐藏在生产过程中的问题并寻求解决之道，去创造引领时代的创新产品，去感知消费者每一个细小需要并予以满足。专注，源自追求品质的恒久求索之心。也是恒洁专于卫浴行业，做中国卫浴行业品质专家的事业心。</p>
    <p style="font-weight: 700;">感恩</p>
    <p>感恩客户，感谢客户的信任和支持，为此不断提高产品品质和服务，以求回报，不负所托。企业、员工双向感恩，企业感谢员工的辛勤工作，并努力提供高品质的人力资源管理和保障，以回报辛劳。员工感恩企业，以之为互助家园，以专注的工作、学习和成长回报企业。感恩社会，恒洁取得的成就源于社会进步和国家发展，因此，恒洁将力所能及地回报社会，承担企业公民的义务和责任，并以为社会创造物质和精神价值为己任。</p>
  </div>
</div>
<app-footer></app-footer>
