<div class="header_box">
  <header class="header container">
      <h1 class="logo"><a routerLink="/" class="link"></a></h1>
      <div class="h_con">
        <ul class="clearfloat">
          <li class="phone">400-833-1350</li>
          <li><a href="#">中文</a></li>
          <li><em>|</em></li>
          <li><a href="#">English</a></li>
          <li><a href="#" class="weixin"></a></li>
          <li><a href="#" class="weibo"></a></li>
          <li *ngIf="isLogin; else ok"><a routerLink="/login" class="h_login">登录</a></li>
          <li *ngIf="isLogin"><em>|</em></li>
          <li *ngIf="isLogin"><a routerLink="/register" class="h_register">注册</a></li>
          <ng-template #ok>
            <li class="top_user"><a href="">{{userName}}</a></li>
            <li class="top_quit"><a (click)="logout($event)" href="#">退出</a></li>
          </ng-template>
        </ul>
        <div class="search clearfloat">
          <button type="button"></button>
          <input type="text"/>
        </div>
      </div>
    </header>
    <!--nav-->
    <nav class="navbar">
      <div class="container">
        <div class="nav">
          <ul>
            <li><a routerLink="/"><span class="icon_home"></span>首页</a></li>
            <li><a routerLink="/about">关于恒洁</a></li>
            <li><a routerLink="/news">公司动态</a></li>
            <li class="nav_pd">
              <a routerLink="/product/1">产品中心<span class="icon_pd"></span></a>
              <div class="pd_dropdown">
                <a routerLink="/product/1">洗漱产品</a>
                <a routerLink="/product/2">淋浴产品</a>
              </div>
            </li>
            <li><a routerLink="/contact">联系我们</a></li>
          </ul>
        </div>
        <div class="s_cart" *ngIf="!reloadCartData; else showReload">
          <a routerLink="/cart">
            <span class="icon_cart"></span>购物车(<strong id="cart_sum">{{ totalCount }}</strong>)<span class="icon_sj"></span>
          </a>
          <div class="cart_dropdown">
            <h3 *ngIf="isLogin; else notEmpty">您的购物车为空~</h3>
            <ng-template #notEmpty>
              <ul>
                <li *ngFor="let item of cartProduct">
                  <a href=""><img [src]="item.pic" alt=""/></a>
                  <div>
                    <span>-</span><input type="text" [value]="item.count"/><span>+</span>
                  </div>
                  <strong>{{ item.price }}</strong>
                  <em></em>
                </li>
              </ul>
              <div class="cd_js clearfloat" style="display: block;">
                <span>共计：<strong>{{ priceSum }}</strong></span>
                <a href="#">结算</a>
              </div>
            </ng-template>
          </div>
        </div>
        <ng-template #showReload>
          <div class="s_cart">
            <a routerLink="/cart">
              <span class="icon_cart"></span>购物车(<strong id="cart_sum">{{ reloadTotalCount }}</strong>)<span class="icon_sj"></span>
            </a>
            <div class="cart_dropdown">
              <h3 *ngIf="isLogin; else notEmpty">您的购物车为空~</h3>
              <ng-template #notEmpty>
                <ul>
                  <li *ngFor="let item of reloadCartData">
                    <a href=""><img [src]="item.pic" alt=""/></a>
                    <div>
                      <span>-</span><input type="text" [value]="item.count"/><span>+</span>
                    </div>
                    <strong>{{ item.price }}</strong>
                    <em></em>
                  </li>
                </ul>
                <div class="cd_js clearfloat" style="display: block;">
                  <span>共计：<strong>{{ reloadPriceSum }}</strong></span>
                  <a href="#">结算</a>
                </div>
              </ng-template>            
            </div>
          </div> 
        </ng-template>
      </div>
    </nav>
</div>

