<app-header></app-header>
<!--面包屑导航-->
<div class="breadcrumb">
  <div class="container">
    <h2>
      <a href="">首页</a>&gt;<a href="">产品中心</a>
    </h2>
  </div>
</div>
<!--页面主体-->
<div class="main container">
  <div class="pl_header">
    <a routerLink="/product/1" [ngClass]="{'cur': wash}">洗漱产品</a><a routerLink="/product/2" [ngClass]="{'cur': shower}">淋浴产品</a>
  </div>
  <!-- 产品列表-->
  <ul class="product_list clearfloat">
    <li *ngFor="let item of products">
      <a [routerLink]="'/productdetail/'+item.pid"><img [src]="item.pic" alt=""/></a>
      <div class="pdlist_text clearfloat">
        <h3>
          <p>{{ item.title1 }}</p>
          <span>{{ item.title2 }}</span>
        </h3>
        <a [routerLink]="'/productdetail/'+item.pid">查看详情</a>
      </div>
    </li>
  </ul>
  <!-- 分页导航-->
  <div class="pages">
    <a href="" [ngClass]="{'default': pageNum == 1?true:false}" (click)="prevPage($event)">上一页</a>
    <ng-container *ngFor="let item of pageC">
      <a [ngClass]="{'cur': item == pageNum?true:false}" (click)="switchPage($event, item)" href="">{{ item }}</a>
    </ng-container>
    <a href="" [ngClass]="{'default': pageNum == pageC.length?true:false}" (click)="nextPage($event)">下一页</a>
  </div>
</div>
<app-footer></app-footer>