<app-header></app-header>
<!--面包屑导航-->
<div class="breadcrumb">
  <div class="container">
      <h2>
          <a href="">首页</a>&gt;<a href="">公司动态</a>
      </h2>
  </div>
</div>
<!--页面主体-->
<div class="main container">
    <ng-container *ngIf="newsDetailData">
        <div class="news_details">
            <h2>{{ newsDetailData.title }}</h2>
            <span>发布时间：{{ newsTime }}</span>
            <div class="news_content" [innerHTML]="newsDetailData.content">
                
            </div>
        </div>
    </ng-container>
    
</div>
<app-footer></app-footer>